@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Satisfy&display=swap');

.instagramLogo{
    color: rgb(12, 12, 12);
    font-family: 'Poppins', sans-serif;
    font-family: 'Satisfy', cursive;
    font-size: 5rem;
    margin-bottom: 3rem;
    transition: all 1s ease;
 
}

.instaLogo{
    display: none;
    font-size: 2.7rem;
}
@media  screen and (max-width: 1260px) {
    .instagramLogo{
        display: none;
    }
    .instaLogo{
        display: block;
    }
}
@media screen and (max-width: 765px) {
    .instagramLogo{
        display: block;
    }
    .instaLogo{
        display: none;
    }
}