html{
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  
}
textarea:focus, input:focus{
  outline: none;
}

ul{
  list-style: none;
}
li a:link,a:visited{
  text-decoration: none;
  color: black;
}
li a.active{
  font-weight: 600;
  font-size: 1.7rem;
  color: black;
}
